## After completing your Cloudonix API key, rename this file to .env for further usage
APIKEY="your Cloudonix API Key"

## You may change this to either http or https - https is recommended for production usage
ENDPOINT="http://api.cloudonix.io"